
<footer class="page-footer grey">
  <div class="container">
    <div class="row">
      {% block extra_footer %}{% endblock %}
      <div class="col l6 s12">
        <h5 class="white-text">Sobre a PyRO</h5>
        <p class="grey-text text-lighten-4">
          Duas pessoas em uma conversa pensaram em contribuir com a sociedade local,
          ensinando o pouco que sabiam sobre a Linguagem de Programação Python.
          A partir dessa conversa, convidaram as pessoas que estavam ao alcance no momento e
          prepararam uma apresentação sobre o tema... e assim começou a comunidade que cresce
          a cada dia, com ajuda de muitos e muitas pythonistas.
        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links Py</h5>
        <ul>
          <li><a class="white-text" href="#!">Python Brasil</a></li>
          <li><a class="white-text" href="#!">Python Norte</a></li>
          <li><a class="white-text" href="#!">Python</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Nossos Links</h5>
        <ul>
          <li><a class="white-text" href="#!">Telegram</a></li>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Eventos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Site desenvolvido pela comunidade PyRO, disponível no
      <a class="orange-text text-darken-4" href="https://gitlab.com/PyNorte-RO/pyro-site/" target="_blank">
        Gitlab
      </a>
      utilizando
      <a class="blue-text text-darken-3" href="https://www.python.org/" target="_blank">
        Python
      </a>,
      <a class="black-text text-darken-3" href="http://flask.pocoo.org/" target="_blank">
        Flask
      </a>
      e
      <a class="orange-text text-lighten-3" href="http://materializecss.com" target="_blank">
        Materialize
      </a>
      .
    </div>
  </div>
</footer>
