{% extends 'base.html' %}

{% block conteudo_body %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">Site da PyRO</h1>
      <div class="row center">
        <h5 class="header col s12 light">
          Site em desenvolvimento pela
          comunidade Python Rondônia
        </h5>
      </div>
{#      <div class="row center">#}
{#        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>#}
{#      </div>#}
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Encontros</h5>

            <p class="light">
              Reuniões de 3h a cada dois meses com pessoas dispostas a compartilharem algo com a comunidade.
              Fomentando o rápido aprendizado e transmissão de conhecimento.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Colaboratividade</h5>

            <p class="light">
              Atuando em comunidade, pessoas interagindo e compartilhando ideias/conhecimento,
              contribuindo com a sociedade.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">directions_run</i></h2>
            <h5 class="center">Como participar?</h5>

            <p class="light">
              Não fazemos nenhum tipo de seleção, a comunidade é aberta a tod@s interessad@s em participar.
              Acompanhe por aqui a agenda de eventos ou no
              <a href="https://telegram.me/GruPyRO" target="_blank">
                nosso grupo do Telegram
              </a>
             .
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

{% endblock %}
